html,body{
	margin-top:0,1%;
	margin-bottom:0,1%;
	margin-right:2%;
	margin-left:2%;
	padding:0,1%
}
#numeroJornada{
    margin-left:40%;
    color: black;
    font-weight: bold;
    padding: 1%;
    display:inline-block;
    vertical-align:middle;
    width:160px; 
    
}

div#chart_div{
    visibility:hidden; top: -10px;
    margin:-47.5% 0% 0% 10%; 
}
div#chart_div2{
    visibility:hidden;
    margin:-38.1% 0% 3% 10%; 
}

div#table{
    visibility:hidden;
    margin:-42% 10% 13% 16%; 
}

div#dialog{ 
    height: 304px;
    font: 145% arial,sans-serif;   
    margin:-53% 0% 12% 1%;
    padding-bottom:4.6%;
    background-color: #B8E65C;
    
    
}
div#dialog1{ 
    margin-right:12%;
    margin-top:-2.4%;         
}

input#marcador1, #marcador2, #marcador3, #marcador4, #marcador5, #marcador6 , #marcador7, #marcador8, #marcador9, #marcador10, #marcador11,#marcador12 {
    
    padding:1%;
    margin-right:4%;
    margin-top:0.70%;
    top:%;
}

label#t1, #t2, #t3, #t4, #t5, #t6 , #t7, #t8, #t9, #t10, #t11,#t12{
    
    margin-right:1%;
    margin-left:11%;
    padding: 1%;
    display:inline-block;
    vertical-align:middle;
    width:160px;   
}
input#aceptaJornada{
   margin-left:76%;
   margin-top:1%;
}


body{
font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{
	display:block;
	color: #981793;
	padding:10px
}

div#extra>ul{ background-color: white;}
div#content p{line-height:1.4}
div#navigation{background:#E3E3ED;}
div#extra{background:#E3E3ED;}

div#header{	   
	    
    background:#E3E3ED; 
    border-style:solid;
    border-color:#CACAD4;
    overflow: hidden;
    height: 120px;
}
div.logoCSH{
    position: absolute;
    
    background-image: url("../images/CS_Herediano.png");
    background-repeat:no-repeat;
    background-size: 40% 55%;
    height: 12%;    
    width:8%
}
div.logoCSH#logo1{
	float:left;	
    margin: 0.8% 1% 1% 0.8% ; 
}
div.logoCSH#logo2{
	float:right;
	margin: 0.8%  1%  1% 87.6% ;  
	
}
div#header h1{ 
    line-height:100px;
    margin:0;
    float:left;
    margin-left:9%;
    width: 14%;
    font-size:300%;
    color: black
}

div.links{ 
   
   display: inline;
   margin-left: 15%;
   margin-top: 20px;
   text-align: center;
   float: left;
   border-color: #CACAD4;
   border-width: thin;
   border-style: solid;
}

div.links a{
	 display:inline;
}
	
div.login{	  
    float: right;
    margin: 6% 1% 3% 3%; 
    border-color: #CACAD4;
    border-width: thin;
    border-style: solid;
}



div#footer{
    margin: -8.4% 0% 0% 0%;
    padding: 1% 0% 0% 0%;        
    background:#E3E3ED; 
    float:left;
    width:100%;
}

div#wrapper{
    float:left;
    width:100%
}

div#content{
    margin: 0 200px;
    box-shadow: 5px 5px 5px #888888; 
    position: relative;
    
}

div#panelView{
    background-image:url(../images/cancha.jpg); 
    background-size:100% 100%; 
    background-repeat:no-repeat;   
    padding:42% 0% 0% 0%;        
    margin-top:-2%;
    margin-bottom:12% 
}

div#navigation{
	float:left;
	width:200px;
	margin-left:-100%
        
}
div#extra{
	float:left;
	width:200px;
	margin-left:-200px
}

div#navigation>h1{text-align:center;}
div#extra>h1{text-align:center;}

div#footer a{
  display:inline;	
  width: 30px;
  float:left;
	}
	
	div#footer p{   
	 margin-top:18px;
    display:inline;
    float:right;
}
